:root {
  --border: hsl(330, 60%, 50%);
  --page-bg: hsl(330, 50%, 90%);
  --page-bg-hover: hsl(330, 70%, 60%);
}

body {
 margin: 0;
 padding: 0;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

body > section {
  flex-grow: 100%;
}

#header {
  border-bottom: 1px solid var(--page-bg-hover);
}

#footer {
  border-top: 1px solid var(--page-bg-hover);
  padding-top: 1em;
  padding-bottom: 1em;
}

#header, #footer {
  text-align: center;
  background-color: var(--page-bg);
}

.bookdesc {
  display: flex;
  flex-flow: column nowrap;
  align-items:  center;
  border: 1px solid  var(--border);
  border-radius: 1em;
  margin: 1em;
  background-color: var(--page-bg);
  width: 40vmin;
  
}

.bookdesc img {
  width: 40vmin;
  aspect-ratio: 1;
}

.bookdesc>.footer {
  margin-top: 1em;
  color: darkgray;
  border-top: 1px solid var(--page-bg-hover);

}
.bookdesc:hover {
  background-color: var(--page-bg-hover);
  
}

.bookdesc img {
  margin-top: 2em;
}

.bookdesc .author {
  color: gray;
  font-size: 0.8em;
  font-style: italic;
}

.bookdesc > div.footer {
   padding-top: 1em;
  padding-bottom: 0.5em;
}

.page {
 display: flex;
 flex-flow: row wrap;
}
