
:root {

  --footer-bg: hsl(200, 40%, 85%);
  --footer-text: hsl(200, 90%, 15%);
  --page-bg: hsl(200, 20%, 90%);
  --html-bg: hsl(200, 20%, 20%);
}
/* font sizez */
.page .lineswrapper {
  font-size: 1.2em;
  padding: 1em 0.2em;
  
}


html {
  background-color: var(--html-bg);
}

.page {
  height: 100vh;
  width: calc(3/4 * 100vh);
  max-width:  100vw;
  max-height: calc(4/3 * 100vw);
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

img {
  width: 100%;
  height: auto;
}

.page {
  border: 1px solid black;
  background-color: var(--page-bg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  background-color: var(--footer-bg); 
  align-items: center;
  justify-content:  space-between; 
  padding: 0.5em 1em;
  color: var(--footer-text);
}
