

:root {
  --footer-bg: hsl(200, 40%, 85%);
  --footer-text: hsl(200, 90%, 15%);
  --page-bg: hsl(300, 20%, 90%);
}
/* font sizez */
h1 {
  font-size: 7vw;
}

h2 {
  font-size: 5vw;
}

.footer {
  font-size: 5vmin;
}

.page .lineswrapper {
  font-size: 5vmin;
}


html {
  background-color: beige;
}

#main {
  display: flex;
  flex-direction: column;
  align-items:center;
  height: 100%;
}

img {
  width: 100%;
  height: auto;
}

.page {
  border: 1px solid black;
  background-color: var(--page-bg);
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  align-items: center;
}
.page .lineswrapper {
  font-size: 5vmin;
  margin-top: 2em;
  
}

.page h1 {
  margin-bottom: 1em;
}

.footer {
  align-self: stretch;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  background-color: var(--footer-bg); 
  align-items: center;
  justify-content:  space-between;  
  height: 10vh;
  padding: 0 1em 0 1em;
  color: var(--footer-text);
}

